<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" sizes="40x40" href="{{ url_for('static', filename='images/amplify-logo.png') }}">
        <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
        <title>Amplify</title>
    </head>
    <body class="h-full w-full dark">
        <div class="bg-darkb">
            <h1 class="font-grotesk text-center mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl lg:text-6xl "><span class="text-transparent bg-clip-text bg-gradient-to-r from-rice to-blue-100">Amplify</span></h1>
            <p class="text-center normal-case text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-rice opacity-75">Web application built with Python (Flask) that allows users to conveniently monitor and visualize the current data collected from a 3-Phase Motor using an ESP32 development board and current transformers.</p> 
            <div class="relative overflow-x-auto shadow-md p-10 ">
                <div class=" dark:rounded-lg ">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-slate-100 ">
                        <thead class="text-xs text-gray-400 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Entry
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Unit
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Date
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Time
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Threshold
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Red Line
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Blue Line
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Yellow Line
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Net Current
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for items in range(0, length) %}
                            {% if items%2 == 0%}
                            <tr class="bg-white border-b dark:text-rice dark:bg-gray-900 dark:border-gray-700 dark:hover:bg-gray-600">
                                <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap dark:text-rice">
                                {{items+1}}
                                </th>
                                <td class="px-6 py-4">
                                    {{unit_list[items]}}
                                </td>
                                <td class="px-6 py-4">
                                    {{date_list[items]}}
                                </td>
                                <td class="px-6 py-4">
                                    {{time_list[items]}}
                                </td>
                                <td class="px-6 py-4">
                                    {{threshold_list[items]}}
                                </td>
                                <td class="px-6 py-4">
                                    {{red_line_list[items]}}
                                </td>
                                <td class="px-6 py-4">
                                    {{blue_line_list[items]}}
                                </td>
                                <td class="px-6 py-4">
                                    {{yellow_line_list[items]}}
                                </td>
                                <td class="px-6 py-4">
                                    {{net_current_list[items]}}
                                </td>
                            </tr>
                            {% elif items%2 !=0 %}
                            <tr class="border-b bg-gray-50 dark:text-frost dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-600">
                                <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap dark:text-frost">
                                    {{items+1}}
                                </th>
                                <td class="px-6 py-4">
                                    {{unit_list[items]}}
                                </td>
                                <td class="px-6 py-4">
                                    {{date_list[items]}}
                                </td>
                                <td class="px-6 py-4">
                                    {{time_list[items]}}
                                </td>
                                <td class="px-6 py-4">
                                    {{threshold_list[items]}}
                                </td>
                                <td class="px-6 py-4">
                                    {{red_line_list[items]}}
                                </td>
                                <td class="px-6 py-4">
                                    {{blue_line_list[items]}}
                                </td>
                                <td class="px-6 py-4">
                                    {{yellow_line_list[items]}}
                                </td>
                                <td class="px-6 py-4">
                                    {{net_current_list[items]}}
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>   
                    </table>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    </body>
</html>